{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container mt-5" style="max-width: 400px;">
        <section class="mb-4">
            <h3 class="mb-3 text-center">Create Account</h3>
        </section>

        <section class="mb-4">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
        
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
        
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
        
                <div class="mb-3">
                    <label for="password_confirm">Confirm Password</label>
                    <input type="password" name="password_confirm" class="form-control" required>
                </div>
                
                <button class="btn btn-dark w-100">Signup</button>
            </form>
        </section>
        
        <section class="mb-4">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        </section>

        <section class="text-center mb-5">
            <p class="mb-0">
                Already have an account?
                <a href="{% url 'login' %}" class="text-dark fw-semibold">
                    Login
                </a>
            </p>
        </section>

    </div>
{% endblock %}
